body{
    background-image: url(../../images/hero4.jpg);
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif !important;
    color: #ffffff;
    hr{
        color: #eee; opacity: 1;
    }
    footer{
        color: #eee;
    }
}
input{
    border: 1px solid rgb(165, 165, 165);
}
iframe{
    border-radius: 50px;
    overflow: hidden;
    border-color: #ffffff;
    border-width: 1px;
    filter: blur(15px);
    transition: 0.5s;
        &:hover{
            filter: blur(0);
            transition: 1s;
            flex-grow: 0.5;
        }
}
/* Index */
.h1-principal{
    font-size: 300%;
    text-decoration: none;
    color: #ffffff;
    p{
        padding: 10px;
        margin: 0;
    }
}
.ul-nav{
    font-size: 150%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    & li:hover{
        background-color: #2b2b2b;
        }
}
.section1{
    color: #eeeeee;
    font-size: 350%;
    padding-top: 200px;
    padding-bottom: 650px;
    .contacto-h1{
        font-size: 120%;
        padding-left: 200px;
        margin: 0%;
    }
    .contacto-h2{
        padding-left: 200px;
        margin: 0%;
        font-size: 75%
    }
}
.e-broker{
    display: flex;
    justify-content: center;
    text-decoration: none !important;
    font-size: 110%;
    font-weight: 500;
}
.button{
    display: inline-block;
    background-color: #6f6f6f;
    transition: 0.5s;
    width: 200px;
    font-size: 50%;
    font-weight: bold;
    border-radius: 50px;
    overflow: hidden;
    &:hover{
        background-color: #ffffff;
        transition: 1s;
        transform: translate(10);
        transform: scale(1.5);
    }
}
.form{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 150%;
    gap: 2px;
        input{
            width: 15%;
        }
        h3{
            font-size: 3rem;
            font-weight: 600;
            padding: 10px;
        }
}
.form-messaje{
    height: 75px;
}
.input{
    width: 5%;
    transition: 0.5s;
        &:hover{
        width: 15%;
        transition: 1s;
        }
}
a{
    text-decoration: none !important;
    color: #ffffff !important;
}
/* Quienes somos */
.section2{
    h2{
        color: #eeeeee;
        font-size: 350%;
        padding: 10px;
        padding-top: 20px;
        margin: 0;
    }
    p{
        font-size: 200%;
        width: 40%;
        color: #eeeeee;
        padding: 10px;
        padding-bottom: 10px;
        margin: 0;
    }
}
.d-block_w-100{
    max-height: 27rem;
    max-width: 37rem;
    display: flex;
    text-align: center;
    margin: auto;
}
/* Login */
.h2-principal{
    font-size: 700%;
    margin: 0%;
    padding-top: 100px;
    padding-bottom: 5px;
    color: #eee;
}
.login1{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-left: 200px;
    padding-bottom: 500px;
    gap: 20px;
}
.button2{
    display: inline-block;
    background-color: #ffffff;
    width: 250px;
    font-size: 200%;
    font-weight: bold;
    border-radius: 50px;
    overflow: hidden;
    &:hover{
        background-color: #2b2b2b;
        transition: 0.5s;
    }
}
.login-container-grid div{
    font-size: 2rem;
    color: #000000;
    background-color: #777777;
}
/* Contacto */
.form3{
    padding-top: 20px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 4px;
        input{
    height: 30px;
}
}
.consulta{
    padding-top: 50px;
}
/* Negocios */
.section-negocios{
    display: flex;
    flex-direction: column;
    p{
        font-size: 2rem;
        color: #ffffff;
        width: 50%
    }
}
.h1-negocios{
    padding-top: 200px;
    font-size: 350%;
    color: #ffffff;
}
.negocios-media{
    padding: 15px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    img{
        filter: blur(15px);
        transition: 1s;
        &:hover{
            filter: blur(0);
            flex-grow: 0.5;
            transition: 1s;
        }
    }
}
// .section-iframe-negocios{
//     border-radius: 50px;
//     overflow: hidden;
//     border-color: #ffffff;
//     border-width: 1px;
//     filter: blur(15px);
//     transition: 0.5s;
//     :hover{
//         filter: blur(0);
//         transition: 1s;
//         flex-grow: 0.5;
//     }
// }