// hover-effect
@mixin hover-effect {
    filter: blur(15px);
    transition: 1s;
    &:hover{
        filter: blur(0);
        flex-grow: 0.15;
        transition: 1s;
    }
}
// input-border
@mixin input-border {
    border: 1px solid rgb(165, 165, 165);
}
input{
    @include input-border()
}
iframe{
    @include hover-effect()
}
.input{
    @include input-border()
}
.negocios-media{
    img{
        @include hover-effect()
    }
}