/* Index */
body{
    background-image: url(../images/hero4.jpg);
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif !important;
    color: #ffffff;
}
.ul-nav li:hover{
    background-color: #2b2b2b;
}
input{
    border: 1px solid rgb(165, 165, 165);
}
header{
    color:  #ffffff;
    position: sticky;
    top: 0;
}
.h1-principal{
    font-size: 300%;
    text-decoration: none;
    color: #ffffff;
}
.ul-nav{
    font-size: 150%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section1{
    color: #eeeeee;
    font-size: 350%;
    padding-top: 200px;
    padding-bottom: 800px;
}
.e-broker{
    display: flex;
    justify-content: center;
    text-decoration: none !important;
    font-size: 110%;
    font-weight: 400;
}
.button{
    display: inline-block;
    background-color: #ffffff;
    transition: 0.5s;
    width: 200px;
    font-size: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 50px;
    overflow: hidden;
}
.button:hover{
    background-color: #5e5e5e;
    transition: 1s;
}
footer{
    color: #eee;
    background-image: url(../images/footer.jpg);
    font-family: 'Times New Roman', Times, serif;
}
.form{
    display: flex;
    flex-direction: column;
    font-size: 200%;
}
input{
    width: 10%;
}
#Mensaje{
    height: 75px;
}
.input{
    width: 5%;
}
a{
    text-decoration: none !important;
    color: #ffffff !important;
}
/* Quienes somos */
.section2 h2{
    color: #eeeeee;
    font-size: 350%;
    padding: 0;
}
.section2 p{
    font-size: 200%;
    width: 40%;
    color: #eeeeee;
}
.section-iframe{
    border-radius: 50px;
    overflow: hidden;
    border-color: #ffffff;
    border-width: 1px;
    filter: blur(15px);
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    border-width: 1px;
}
.section-iframe:hover{
    filter: blur(0);
    transition: 1s;
}
.d-block_w-100{
    max-height: 27rem;
    max-width: 37rem;
    display: flex;
    text-align: center;
    margin: auto;
}
/* Login */
.body-login{
    background-color: #2b2b2b !important;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.h2-principal{
    font-size: 700%;
    margin: 0%;
    padding-top: 100px;
    padding-bottom: 5px;
}
.login1{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-left: 200px;
    padding-bottom: 500px;
    gap: 20px;
}
.button2{
    display: inline-block;
    background-color: #ffffff;
    width: 250px;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.login-input input{
    gap: 50%;
    height: 200%;
    width: 50%;
    border: #000000;
    border-radius: 10px;
}
.login-container-grid div{
    font-size: 2rem;
    color: #000000;
    background-color: #777777;
}
/* Contacto */
.contacto-h1{
    font-size: 120%;
    padding-left: 200px;
    margin: 0%;
}
.contacto-h2{
    padding-left: 200px;
    margin: 0%;
    font-size: 75%
}
.form3{
    padding-top: 20px;
    padding-left: 200px;
    width: 200%;
    display: flex;
    flex-direction: column;
}
.consulta{
    padding-top: 50px;
}
/* Negocios */
.section-negocios{
    display: flex;
    flex-direction: column;
}
.h1-negocios{
    padding-top: 200px;
    font-size: 350%;
    color: #ffffff;
}
.section-negocios p{
    font-size: 150%;
    color: #ffffff;
    width: 50%
}
.negocios-media{
    padding: 15px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.negocios-media img{
    filter: blur(15px);
    transition: 1s;
}
.negocios-media img:hover{
    filter: blur(0);
    flex-grow: 0.5;
    transition: 1s;
}
.section-iframe-negocios{
    border-radius: 50px;
    overflow: hidden;
    border-color: #ffffff;
    border-width: 1px;
    filter: blur(15px);
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    border-color: #ffffff;
    border-width: 1px;
}
.section-iframe-negocios:hover{
    filter: blur(0);
    transition: 1s;
    flex-grow: 0.5;
}